<button (click)="showCreateForm()">Create a clue</button>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clue of cluesOver200">
      <td [title]="clue.category.title">{{ clue.category.title }}</td>
      <td (click)="handleClueClick(clue)">${{ clue.value }}</td>
    </tr>
  </tbody>
</table>

<app-clue-detail *ngIf="selectedClue && !isEditing"
                 [clue]="selectedClue"
                 (wantsEdit)="showEdit()"
                 (wantsClose)="deselectClue()"></app-clue-detail>
<app-clue-form *ngIf="selectedClue && isEditing"
               [clue]="selectedClue"
               [isEditing]="isEditing"
               (cancelUpdate)="showDetails()"
               (pleaseDelete)="deleteClue()"
               (wantsUpdate)="updateClue($event)"></app-clue-form>

<sky-wait [isWaiting]="isLoading" [isFullPage]="true"></sky-wait>
