<form (submit)="createClue()">
    <fieldset>
      <legend>Create a new clue</legend>
      <input name="answer"
             [(ngModel)]="clue.answer"
             required
             class="sky-form-control"
             type="text" placeholder="answer" >
      <input name="question"
             [(ngModel)]="clue.question"
             required
             class="sky-form-control"
             type="text" placeholder="question" >
      <input name="value"
             [(ngModel)]="clue.value"
             required
             class="sky-form-control"
             type="number" placeholder="value" >
      <input *ngIf="!clue.id"
             name="category_id"
             [(ngModel)]="clue.category_id"
             required
             class="sky-form-control"
             type="number" placeholder="category id, just guess one" >
      <button *ngIf="clue.id">Update clue</button>
      <button *ngIf="!clue.id">Create clue</button>
      <button *ngIf="clue.id" type="button" (click)="deleteTheClue()">Delete</button>
      <button type="button" (click)="cancelFormInteraction()">Cancel</button>
    </fieldset>
  </form>
